<h1 style="padding: 0 25px 10px">Допомога</h1>
<div style="color: black; font-family: 'Times New Roman',serif; font-size: 25px">
  <h2 class="alert alert-secondary" style="padding: 0 25px">1) Головна сторінка</h2>
  <p align="center">
    <%= image_tag 'help/help_1.png', width: "auto", height: "auto" %>
  </p>
  <p align="center">
    <%= image_tag 'help/help_2.png', width: "auto", height: "auto" %>
  </p>
  <p align="center">
    <%= image_tag 'help/help_3.png', width: "auto", height: "auto" %>
  </p>
  <h2 class="alert alert-secondary" style="padding: 0 25px">2) Сторінка “Всі моделювання”</h2>
  <p align="center">
    <%= image_tag 'help/help_4.png', width: "auto", height: "auto" %>
  </p>
  <h2 class="alert alert-secondary" style="padding: 0 25px">3) Сторінка “Результати моделювання”</h2>
  <hr>
  <h3 style="padding: 0 25px">3.1) Блок “Функція щільності ймовірності” та Вхідні дані</h3>
  <p align="center">
    <%= image_tag 'help/help_5.png', width: "auto", height: "auto" %>
  </p>
  <hr>
  <h3 style="padding: 0 25px">3.2) Блок “Статистична перевірка випадкових величин моделювання”</h3>
  <p style="text-indent: 40px; line-height: 1.5; padding: 0 25px">
    Візуальне порівняння гістограм дозволяє оцінити коректність алгоритмів моделювання випадкової величини.<br>
    <span style="text-indent: 40px; display:inline-block;">● Зелена гістограма – апроксимація розподілу фон Мізеса.</span><br>
    <span style="text-indent: 40px; display:inline-block;">● Синя та фіолетова гістограми різних серій одержані моделюванням випадкових значень (певним методом моделювання випадкової
    величини) та розрахунку статистичних оцінок щільності ймовірності.</span><br>
  </p>
  <h3 style="padding: 0 25px">3.3) Блок “Інтегральні характеристики”</h3>
  <p style="text-indent: 40px; line-height: 1.5; padding: 0 25px">
    Характерні інтегральні характеристики випадкової величини (математичне очікування, мода та дисперсія) відповідні теоритичним значенням (зелений стовпчик) і
    значенням, отриманним в результаті статистичного аналізу результатів розрахунку (синій та фіолетовий стовпчик)<br>
  </p>
  <p align="center">
    <%= image_tag 'help/help_6.png', width: "auto", height: "auto" %>
  </p>
</div>
