<div id="<%= dom_id parameter %>">
  <p>
    <strong>From:</strong>
    <%= parameter.from %>
  </p>

  <p>
    <strong>To:</strong>
    <%= parameter.to %>
  </p>

  <p>
    <strong>M:</strong>
    <%= parameter.m %>
  </p>

  <p>
    <strong>K:</strong>
    <%= parameter.k %>
  </p>

  <p>
    <strong>N s:</strong>
    <%= parameter.n_s %>
  </p>

  <p>
    <strong>N g:</strong>
    <%= parameter.n_g %>
  </p>

</div>
